@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.goog-te-banner-frame {
  position: static !important;
  top: auto !important;
  z-index: 999999 !important; /* Adjust if needed */
}

/* Optionally hide the top banner */
.skiptranslate {
  display: none !important;
}

/* Fix for the language selector dropdown */
.goog-te-menu-frame {
  position: absolute !important;
  z-index: 1000000 !important; /* Make sure it's above other elements */
}