@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 🧼 Hide Google Translate toolbar, branding, and combo dropdown */
.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget span,
.goog-te-gadget,
.goog-te-combo {
  display: none !important;
}

/* Optional: remove “Powered by Google” text */
#google_translate_element span {
  display: none !important;
}
